@font-face {
    font-family: 'Chiron Sung HK', 'ChironSungHK', 'chiron-sung-hk', 'chironsunghk-r';
    src: url('chironsunghk-r.ttf') format('ttf');
    font-display: block;
}
p {
    font-family: 'Chiron Sung HK', 'ChironSungHK', 'chiron-sung-hk', 'chironsunghk-r';
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 14px;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0366d6;
}
