@font-face {
    font-family: 'Parisienne-Regular';
    src: url(https://vviinncceenntt.github.io/fonts/Parisienne/Parisienne-Regular.ttf') format('ttf');
    font-display: block;
}
p {
    font-family: 'Parisienne-Regular';
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 14px;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #0366d6;
}
